.container-profile {
    display: flex;
    padding: 2em;
    align-content: space-between;
    position: relative;
}

.container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: white;
}

.arrow-back, .btn-delete {
    vertical-align: middle;
    display: inline-block;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-top: 2px;
}

span {
    padding: 5px;
    height: 40px;
    width: 40px;
}

.profile-button {
    margin-left: 8px;
}