.translate-output-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  border-radius: 0.25rem;
  background-color: white;
}

.img-sign {
  display: inline-block;
  height: auto;
  width: 100px;
}

span {
  display: inline-block;
  height: auto;
  width: 75px;
}
