.title {
  text-align: start;
}
.app-header {
  top: 0;
  margin-bottom: 1.5em;
  border-bottom: 3px solid #f07e7b;
  background-color: #2f4858;
  color: white;
}

.app-header-content {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  display: flex;
  align-items: center;
}

.img-logo-hello {
  width: 100px;
  height: auto;
}

.header-left {
  display:flex;
  flex-direction: row;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 7px;
}

