.card {
    position: relative;
    height: 100%;
    width: 80%;
    min-height: 120px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2);
    background-color: white;
    overflow: hidden;
    margin: 20px;
}

.card-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color:#f07e7b;
}

