.container-form {
    display: inline-flex;
    flex-direction: row;
    padding: 10px 10px 10px 30px;
    background-color: white;
    border-radius: 30px;
    width: 90%;
    border: 1px solid lightgray;
}

.container-translate {
    width: 70%;
}

input {
    flex-grow: 2;
    border: none;
}

input:focus {
    outline: none;
}

.btn-enter {
    cursor: pointer;
    height: 24px;
    width: 24px;
    background: none;
    border: none;
    fill: #f07e7b;
}
