body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.icon-button {
  padding: 8px 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: none;
  fill: #f07e7b;
  vertical-align: middle;
}

.icon-button:hover {
  opacity: 0.8; 
  transition: all 0.2s ease;
}